* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
img {
 width: 100%; 
 height: auto; 
}

div{
	height: 100%;
	width: 100%;
}
body{
	color: #CCC;
	padding-left: 20%;
	padding-right: 20%;
	font-size: 16px;
	width: 100%;
	background-color: #222;
	font-family: "Lucida Console";
	display: inline-block;
}
#name {
 text-align: center;
 font-size: 50px;
}
#catchphrase1 {
 text-align: center;
 font-size: 30px;
 filter: opacity(60%);
}
#catchphrase2 {
 text-align: center;
 font-size: 20px;
filter: opacity(40%);
}

.header {
padding-top: 2em;
padding-bottom: 2em;
display: flex;
min-height: 30vh;
justify-content: space-around;

	
	background: linear-gradient(271deg, #2B7AA6, #208F3B, #AB292C);
	background-size: 600% 600%;
	-webkit-animation: AnimationName 27s ease infinite;
	-moz-animation: AnimationName 27s ease infinite;
	animation: AnimationName 27s ease infinite;
	
}
.header-center{
	flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ];
	min-width: 80%;
	margin: auto;
	max-height: 50%;
}
.header-buttons{
	width:100%;
}
.content{
	max-width: 100%;
	height: 50vh;
	width: 100%;
}
.items {
	display: flex;
	justify-content: center;

}
.title { 
	color:#FFF;
	text-align: center;
	margin-top: 21vh;
	font-size: calc(3vw + 2vmin);
}
#games {
	text-decoration: none;
	width: 100%;
	flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ];
	background-image: url("FeatureGraphicCapture.PNG");
	background-size: cover;
	background-position: center;
	filter: grayscale(1);
}
#blog {
	text-decoration: none;
	width: 100%;
	flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ];
/*	background-image: url("The-Matrix.jpg");*/
	background-color: #444;
	background-size: cover;
	background-position: center;
	filter: grayscale(1);
}
#sandbox {
	text-decoration: none;
	width: 100%;
	flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ];
	background-image: url("sandbox.jpg");
	background-size: cover;
	background-position: center;
	filter: grayscale(1);
}
.divlink {
	width: 100%;
	height: 100%;
}

#wipwarning{
	color: #444; 
	font-size: 18px;
	align-content: center;

}

.footer {
	margin-top: 20px;
	height: 20vh;
	width: 100%;
	padding: 20px 0 20px 40px;
	background: linear-gradient(271deg, #2B7AA6, #208F3B, #AB292C);
	background-size: 600% 600%;
	-webkit-animation: AnimationName 27s ease infinite;
	-moz-animation: AnimationName 27s ease infinite;
	animation: AnimationName 27s ease infinite;
	display: inline-block;
}






#resumebutton {
	display: inline-block;
    border: none;
    font-size: 18px;
    color: #eee;
    background-color: #222;
    padding: 20px 28px;
    cursor: pointer;
    border-radius: 20%;
    text-decoration: none;
	margin-top: 40px;

}
#announcement {
	animation: fadeIn 2;
	font-size: 6vw;
	text-align: center;
	text-shadow: black;
	color: #eee;
}

#announcementdiv{
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#portalsbody{
	background: linear-gradient(271deg, #9134df, #54bde0, #484eea);
background-size: 600% 600%;

-webkit-animation: AnimationName 27s ease infinite;
-moz-animation: AnimationName 27s ease infinite;
animation: AnimationName 27s ease infinite;
}



@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.fadein1 {
	animation: fadeIn 2s;
	animation-fill-mode: both;
	animation-timing-function: ease-in;
}
.fadein2 {
	animation: fadeIn 2s;
	animation-delay: 2s;
	animation-fill-mode: both;
	animation-timing-function: ease-in;

}
.fadein3 {
	animation: fadeIn 2s;
	animation-delay: 4s;
	animation-fill-mode: both;
	animation-timing-function: ease-in;
}

.pulse-button:hover {
  -webkit-animation: none;
}




@-webkit-keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@keyframes AnimationName { 
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@-webkit-keyframes pulse {
  0% {
    @include transform(scale(.9));
  }
  70% {
    @include transform(scale(1));
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
  }
    100% {
    @include transform(scale(.9));
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}

@media screen and (max-width: 800px) {

  body {
  	padding-left: 0%;
  	padding-right: 0%;
  }
}